/* Diary Body */

.App 
  {
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    gap: 20px;
  }

.diaryBody
  {
    background-color: aquamarine;
    padding: 0px 30px 30px 30px;
    height: 100vh;
    box-shadow: 0px 0px 10px 10px rgb(139, 139, 139);
    width: 45%;
  }

.diaryHeader
  {
    text-align: center;
    border-bottom: 1px solid grey;
  }

.diaryBody Form 
  {
    padding: 20px;
  }

.upperGrid 
  {
    display: flex;
  }

#labelTitle
  {
    font-size: 20px; 
    padding: 0px 20px 0px 0px;
    font-weight: bold;
  }

#labelDate
  {
    margin-left: 300px;
    font-size: 20px;
    font-weight: bold;
  }

#date
  {
    margin-left: 20px;
    padding: 5px 35px 5px 35px;
    border-radius: 20px;
  }

#title
  {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 50px;
  }

#body
  {
    margin-top: 10px;
    padding: 10px 0 0 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
  }

#submitBtn
  {
    margin-top: -15px;
    margin-bottom: 20px;
    margin-left: 45%;
    margin-right: 45%;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
  }

.entryPart
  {
    border-top: 1px solid black;
  }

.entryPart h2
  {
    margin-top: 5px;
  }

.entryBody
  {
    background-color: white;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px 3px rgb(128, 128, 128, 0.2);
  }

.entryTop
  {
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
  }

.entryBtn
  {
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

/* Todolist  */

.todolistBody
  {
    background-color: aquamarine;
    padding: 0px 30px 30px 30px;
    height: 100vh;
    box-shadow: 0px 0px 10px 10px rgb(139, 139, 139);
    width: 45%;
  }

.todoHeader
  {
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
  }

.todoInput
  {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
  }

.todoBtn
  {
    display: flex;
    margin-left: 42%;
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
  }

.todoEntry h2
  {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid black;
  }

.todoText
  {
    padding: 5px 10px 5px 10px;
  }

.todo-actions button
  {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1 solid black;
    margin: 5px;
  }